# === Environment variables
.env

# == Nx
.nx/

# === Node.js
node_modules/

# === Gradle / Kotlin / Java
.gradle/
.kotlin/
build/

# === Angular
.angular/
dist/

# === IntelliJ IDEA
.idea/

# === VS Code
# Ignore everything inside `.vscode` except project-specific VS Code settings that are useful for all contributors:
#
# - settings.json:    Workspace settings (e.g., formatting, linting) that should be shared.
# - tasks.json:       Build and run tasks for the project.
# - launch.json:      Debugging configurations.
# - extensions.json:  Recommended VS Code extensions for the project.
#
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# === System
.DS_Store
Thumbs.db
